@mixin clearFix {
  display: block;
  content: "";
  clear: both;
}

.checkout {
  padding: 3rem;
  padding: 3rem;

  &-row {
    width: 114rem;
    @include clearFix;

    .col-1-5 {
      width: calc((100% - (4 * 2rem)) / 5);
      float: left;
      text-align: center;
      font-size: 2.5rem;
      margin-bottom: 3rem;
      font-weight: bold;

      &:not(:last-child) {
        margin-right: 2rem;
      }

      &:first-child {
        color: #fff;
      }
    }
  }
  &-header {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 3rem;
  }

  &-total {
    text-align: right;
    font-size: 3rem;
  }
}
