@mixin clearFix {
  margin: 0 auto;
  display: block;
  content: "";
  clear: both;
}

.products {
  &-heading {
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
  }
  .row {
    width: 114rem;
    @include clearFix;

    .col-1-4 {
      width: calc((100% - (3 * 2rem)) / 4);
      height: 32rem;
      float: left;
      margin-bottom: 3rem;

      &:not(:last-child) {
        margin-right: 2rem;
      }
    }
  }
}
